// Colors
$body-bg: #F0C9C9;   
$bright: #FAA2A2;
$soft: #FBE2E2;
$primary: #e78686;      
$secondary: #ffdb58;      
$success: #00f764;        
$info: #01cdfe;          
$warning: #ff61a6;        
$danger: #ff2965;         
$light: #2e8d1b;         
$dark: #260e37;           

// Link Colors
$link-color: #ffffff;
$link-hover-color: darken($link-color, 20%);

// Bootstrap Import
@import '~bootstrap/scss/bootstrap.scss';

.bg-bright{
  background-color: $bright;
}
.bg-soft{
  background-color: $soft;
}