// Colors
$body-bg: #F0C9C9;   
$bright: #f09b9b;
$soft: #FBE2E2;
$primary: #e78686;      
$muted: #d5a7a7;     
$navbar: #cb8585;         
$info: #01cdfe;          
$warning: #ff61a6;        
$danger: #ff2965;         
$light: #ebb6b69a;         
$dark: #260e37;           

// Link Colors
$link-color: #ffffff;
$link-hover-color: darken($link-color, 20%);

// Bootstrap Import
@import '~bootstrap/scss/bootstrap.scss';

.bg-bright{
  background-color: $bright;
}
.font-color-primary{
  color: $primary;
}
.font-color-white{
  color: #ffffff;
}

.bg-soft{
  background-color: $soft;
}
.text-soft{
  color: $soft;
}

.bg-muted{
  background-color: $muted;
}

.bg-navbar{
  background-color: $navbar;
}

.btn-muted{
  background-color: $muted;
}
.btn-soft{
  background-color: $soft;
}