/* -------------------------------------
   CSS Variables 
------------------------------------- */
:root {
	/* Primary Colors */
	--primary: #e78686;
	--soft: #fbe2e2;
	--muted: #d5a7a7;

	/* Background Colors */
	--background: #f0c9c9;
	--background-bright: #f09b9b;
	--background-light: #ffcdcd;
	--background-soft: #fbe2e2;
	--background-muted: #d5a7a7;
	--background-nav: #cb8585;

	/* Text Colors */
	--text-primary: #e78686;
	--text-soft: #ffd4d4;
	--text-muted: #d5a7a7;

	/* Button Colors */
	--btn-primary: #f4a6a6;
	--btn-prim-bord: #ffdede;
	--btn-muted: #d5a7a7;
	--btn-soft: #fbe2e2;
	--primary-btn-out: #cb8585;
	--primary-btn-back: #da9898;

	/* Link Colors */
	--link-white: #ffefef;
	--link-primary: #e78686;
	--link-dark: #c56161;

	/* Tooltip Colors */
	--tooltip-icon: #f38686;
	--tooltip-text: #ae6f6f;

	/* Misc Colors */
	--tag-tile: #d88484;
}

/* -------------------------------------
   Utility Classes
------------------------------------- */
.select-none {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.w-60 {
	width: 60%;
}

.fade-in-wrapper {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.fade-in-wrapper.visible {
	opacity: 1;
}

/* -------------------------------------
   Global Styles
------------------------------------- */
html,
body,
#root {
	background-color: var(--background);
	margin: 0;
	padding: 0;
	height: 100%;
}

/* -------------------------------------
   Typography
------------------------------------- */
.font-color-primary {
	color: var(--text-primary);
}

.font-color-white,
.text-color-white {
	color: white;
}

.text-soft,
.text-soft.nav-link,
a.nav-link:hover {
	color: var(--text-soft);
}

.text-muted {
	color: var(--text-muted);
}

.h4.align-self-end,
h3.search-header {
	margin-bottom: 0;
}

h3.search-header {
	margin-right: 10px;
}

/* -------------------------------------
   Background Styles
------------------------------------- */
.bg-bright {
	background-color: var(--background-bright);
}

.bg-soft {
	background-color: var(--background-soft);
}

.bg-muted,
.btn-muted {
	background-color: var(--muted);
}

.bg-navbar {
	background-color: var(--background-nav);
}

.background-light {
	background-color: var(--background-light);
	border-radius: 10px;
	padding: 10px;
}

/* -------------------------------------
   Buttons
------------------------------------- */
.btn.btn-outline-primary {
	color: white;
	border-color: var(--primary-btn-out);
	background-color: var(--primary-btn-back);
}

.btn-soft {
	background-color: var(--btn-soft);
}

/* Reuse button styles to avoid repetition */
.btn.btn-primary,
.btn.btn-secondary {
	background-color: var(--btn-primary);
	border: 1px solid var(--btn-prim-bord);
	color: var(--text-primary);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus-visible,
button.btn.btn-primary:active {
	background-color: var(--btn-prim-bord);
	border-color: var(--btn-primary);
	color: var(--text-primary);
	box-shadow: 0 0 0 0.25rem rgba(255, 106, 133, 0.554);
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus-visible {
	background-color: var(--btn-soft);
	border-color: var(--btn-primary);
	color: var(--text-primary);
}

/* -------------------------------------
   Tooltip
------------------------------------- */
.tooltip-icon,
.tooltip-icon-lock {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	cursor: pointer;
	margin-left: 5px;
	position: relative;
}

.tooltip-icon {
	background-color: var(--tooltip-icon);
	color: white;
}

.tooltip-icon-lock {
	color: black;
}

.tooltip-text {
	visibility: hidden;
	width: 175px;
	background-color: var(--tooltip-text);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	top: 125%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip-icon:hover + .tooltip-text,
.tooltip-icon-lock:hover + .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* -------------------------------------
   Modal
------------------------------------- */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	backdrop-filter: blur(5px);
}

.modal-content-custom {
	background-color: rgb(132, 66, 77);
	border: 2px solid rgb(254, 202, 202);
	padding: 60px;
	width: 60%;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------------------------------------
   Tags
------------------------------------- */
.tag-tile {
	background: var(--tag-tile);
	color: white;
	border-radius: 5px;
}

.selected-tag {
	background: white;
	color: pink;
}

p.pattern-date,
div > small {
	font-size: 0.75rem;
	margin-bottom: 0;
}

.caret-toggle {
	background: none;
	border: none;
	font-size: 1.25rem;
	cursor: pointer;
}

.caret-toggle:focus {
	outline: none;
}

/* -------------------------------------
   Media Queries
------------------------------------- */
@media (min-width: 992px) {
	.tag-buttons {
		display: block !important;
	}
	.featured-patterns {
		width: 40%;
	}
}

@media (max-width: 576px) {
	.display-4.sm-text-small {
		font-size: 1.5rem;
	}
	.d-none-sm {
		display: none !important;
	}
}
